/*--------------------------
    Musicasa > Artist Profile
----------------------------*/
.artist-container{
    background-color: #FFFFFF;
}


#bio-area-container {
    padding: 70px 0 80px;
    background-color: #FFFFFF;
}
#about {
    padding: 200px 0;

}

#concert-section{
    /* Undefined */
}

/* --------- Header Cover Pic Band ---------- */

.profile-cover-pic-artists,
.profile-cover-pic-hosts {
    background-image: url(/assets/images-mca/artists/artist-cover-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,1);
    height: 60vh;

        @media #{$md-layout} {
            height: 45vh;
        }
        @media #{$sm-layout} {
            height: 35vh;
        }
}



/* --------- Bio Bar  ---------- */

.left-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -25%;
    z-index: 10;

    @media #{$md-layout} {
        flex-wrap: wrap;
        justify-content: center;

    }
}

.right-area{
    text-align: left;
    /* align-content: center; 

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    */

    @media #{$sm-layout} {
        justify-content: center;
        text-align: center;
    }

}

.profile-pic{
    margin: 0px;
    background-color: rgba(255, 0, 0, 0.8);
    width: 300px;
    height: 300px;

    @media #{$md-layout} {
        background-color: rgba(13, 197, 93, 0.8);
        width: 200px;
        height: 200px;
    }

    @media #{$sm-layout} {
        background-color: rgba(17, 0, 255, 0.8);
        width: 200px;
        height: 200px;
    }
}

/* 
.social-media-links ul.social-share li a{
    width: 50px!important;
    height: 50px!important;
    display: inline-block;
    line-height: 3em;
    font-size: 1em;
    border: 0px!important;
    line-height: 45px;
    color: rgba(255,255,255,1);
    border-radius: 100%;
    font-size: 1.4em!important;
    background-color: rgba(0,0,0,0.85);
}
.social-media-links ul.social-share li a:hover{
    background-color: #FDBB30;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: (-3px 3px 5px rgba(0, 0, 0, 0.5));
}
*/

.membership-date{
    display: block;
    color: $theme-color;
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: 600;
}



.snippet h3{
    font-size: 2.5em;
}

.genre-and-city{
    font-family: $body-font;
    font-size: 1.2em;
    margin-top: 20px;

}

.genre-and-city h5{
    color: $body-color;
    font-family: $body-font;
    margin-bottom: 6px;
}

.block-genres, .block-location{
    margin-top:20px;
    margin-bottom: 20px;
}

.artist-container h1,
.artist-container h2,
.artist-container h3,
.artist-container h4,
.genre-and-city{
    color: $body-color;
    line-height: 1.2em;
    font-weight: 400;
} 





/* --------- About & Slider  ---------- */


.about-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
}

.slider-container{
    min-height: 50vh;
}

.about-container h3{
    color: $theme-color;
}



/* --------- Concert Card Grid  ---------- */


.concert-cards-artist{

    background-image: url(/assets/images-mca/bg/bg-image-01.jpg) !important;
    position: relative; overflow: hidden;

    
}

.concerts-section{
    padding: 200px 0;
    background-color: #FDBB30;
    background-image: url(/assets/images-mca/bg/mca-image-08c.jpg); 
    background-repeat: no-repeat;
    background-position: top center;
 
         @media #{$md-layout} {
             background-image: url(/assets/images-mca/bg/mca-image-08c.jpg);
         }
         @media #{$large-mobile} {
             background-image: url(/assets/images-mca/bg/mca-bg-image-03-mobile-2x.jpg);
         }
 }
 