/*--------------------------
    Color Darker Version  
----------------------------*/



.breadcrumb-area-mca{
    padding: 100px 0;
    text-align: left;
    min-height: 40vh;
}


.bg-login {
    background: url(/assets/images-mca/bg/bg-in-musicasalive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}



