/*--------------------------
    Color Darker Version  
----------------------------*/
/*
.color-white .mainmenunav ul.mainmenu>li>a,
.mainmenunav ul.mainmenu>li>a{

    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    display: inline-block;
}


.header-area.header--fixed.default-color.sticky .mainmenunav ul.mainmenu>li>a{
    color: #494949;
}
*/
.mainmenunav ul.mainmenu>li>a{
    /* M3 Find it again */
    color: rgba(255,255,255,0.9);
    font-size: 15px;
    font-weight: 500;
    font-family: 'Causten-Medium', Helvetica, Arial, sans-serif;
}

.mainmenunav ul.mainmenu>li>a:active{
    border-bottom: 2px solid $theme-color;
}

.sticky .mainmenunav ul.mainmenu>li>a {
    color: #777777;
}

.header-area.header--fixed.default-color.sticky .mainmenunav ul.mainmenu>li>a:hover {
    color: #theme-color;
}
    
    


.mainmenunav ul.mainmenu>li:hover>a{
    color: $theme-color;
}

.footer-musicasa{
    padding: 120px 0;

    @media #{$sm-layout} {
        padding: 60px 0;
    }

    @media #{$md-layout} {
        padding: 100px 0;
    }
}

.footer-mca-logo img{
    max-height: 50px;
}

.footer-miami-love{
    height: 30px;
    color: rgba(255,255,255,0.8);
    font-size: 1.2em;
    padding: 5px 10px;
}

.footer-email{
    margin-top: 8px;

}
.footer-email a{
    color: $theme-color-2;
    text-decoration: underline;
}

.footer-copyright-links{
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    opacity: 0.8;

    @media #{$sm-layout} {
        position: static;
        bottom: 0;
        padding-top: 15px;
    }

    @media #{$md-layout} {
        position: static;
        bottom: 0;
        padding-top: 33px;
    }

}

.footer-copyright-links a{
    text-decoration: underline;
    color: rgba(255,255,255,0.65);
}

.footer-copyright-links a:hover{

    color: rgba(255,255,255,1);
}

.footer-mca-social-icons ul.social-share li{
    @media #{$md-layout} {
        margin: 0 6px 6px 6px;
    }

        a {
            width: 45px;
            height: 45px;
            line-height: 40px;
            font-size: 1.1em; /* M3 */
        }

}

.footer-mca-social-icons{

    @media #{$sm-layout} {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    @media #{$md-layout} {

    }
}

.footer-style-2{
    /* M3
    background-image: linear-gradient(to bottom, $theme-color , $theme-color-3, $theme-color-2);
    */
    background-color: #222222;
}

.backto-top>div {
    background-color: rgba(253,187,48,0.8);

}
.backto-top svg {
    color: #000;
    color: $body-color;
    margin-bottom: 4px;
}

.backto-top>div:hover{
    background-color: rgba(253,187,48,1.0);
}


.mca-gradient-right{
    background-image: linear-gradient(to right, $theme-color , $theme-color-3, $theme-color-2);
}

.mca-gradient-bottom{
    background-image: linear-gradient(to bottom, $theme-color , $theme-color-3, $theme-color-2);
}

.profile-header-host{
    background-image: url(/assets/images/bg/profile-cover-pic.png);
}

/* Emulated from public/assets/scss/default/_shortcode.scss */

@for $i from 01 through 99 {
    .mca-bg-image-0#{$i} {
        background-image: url(/assets/images/bg/mca-bg-image-0#{$i}.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@for $i from 01 through 99 {
    .mca-bg-image-header-0#{$i} {
        background-image: url(/assets/images/bg/mca-bg-image-header-0#{$i}.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}



[data-overlay],
[data-mca-overlay],
[data-mca-overlay-gradient]{
    position: relative;
    z-index: 1;
}


[data-mca-overlay-gradient] {
    background-image: linear-gradient(to right, $theme-color , $theme-color-3, $theme-color-2);
}

@for $i from 1 through 10 {
    [data-mca-overlay-gradient="#{$i}"]{
        opacity: #{$i * 0.10};
    }
}

.breadcrumb-area-mca{
    padding: 100px 0;
    text-align: left;
}


.breadcrumb-inner-mca {
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    h2{
        &.title{
            background: #f81f01;
            background: linear-gradient(145deg, #f81f01 0%, #ee076e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    ul{
        &.page-list {
            @extend %liststyle;
            li{
                display: inline-block;
                color: #fff;
                a{
                    color: #fff;
                }
                &.breadcrumb-item{
                    &.active{
                        color: #f10;
                    }
                }
            }
        }
    }
}

 
.container-wider {

}

        @media (min-width: 576px){
            .container-wider {
                max-width: 650px;
            }
        }

        @media (min-width: 768px){
            .container-wider {
                max-width: 820px;
            }
        }


        @media (min-width: 992px){
            .container-wider {
                max-width: 1120px;
            }
        }
        @media (min-width: 1200px){
            .container-wider {
                max-width: 1600px;
            }
        }




/*
@media (min-width: 1200px){
    .container-wider {
        max-width: 1400px;
    }
}

@media (min-width: 992px){
    .container-wider {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container-wider {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container-wider {
        max-width: 540px;
    }
}
*/






  /*
  
  .container-fluid-wider:before,
  .container-fluid-wider:after {
    display: table;
    line-height: 0;
    content: "";
  }
  
  .container-fluid-wider:after {
    clear: both;
  }

  .container-fluid-wider{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  }
*/





h1, .h1, h2, .h2{
    border: 2px solid magenta;
}