/*--------------------------
    Color Darker Version  
----------------------------*/






.bg-login {
    background: url(/assets/images-mca/bg/bg-in-musicasalive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}



.mca-border-radius{
    border-radius: 20px;
}

.mca-btn-border-radius{
    border-radius: 0px!important;
}